{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="{% static 'assets/css/uiverse.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/choices.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
    <script
      defer
      src="{% static 'assets/js/bootstrap.bundle.min.js' %}"
    ></script>
    <script defer src="{% static 'assets/js/choices.min.js' %}"></script>
    <style>
      .required-field label::after {
        content: "*";
        color: var(--bs-red);
        font-weight: bold;
      }
    </style>
  </head>
  <title>{% block title %} {% endblock %}</title>
  <body>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
          <div
            class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
          >
            <a
              href="/"
              class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
            >
              <span class="fs-5 d-none d-sm-inline">NANO</span>
            </a>
            <ul
              class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
              id="menu"
            >
              <li>
                <a
                  href="{% url 'main:dashboard' %}"
                  class="nav-link px-0 align-middle"
                >
                  <i class="fs-4 bi-people"></i>
                  <span class="ms-1 d-none d-sm-inline">Hisobot</span>
                </a>
              </li>
              <li>
                <a
                  href="{% url 'main:groups' %}"
                  class="nav-link px-0 align-middle"
                >
                  <i class="fs-4 bi-speedometer2"></i>
                  <span class="ms-1 d-none d-sm-inline">Guruhlar</span>
                </a>
              </li>
              {% if request.user %}
              <li>
                <a
                  href="{% url 'main:teachers' %}"
                  class="nav-link px-0 align-middle"
                >
                  <i class="fs-4 bi-table"></i>
                  <span class="ms-1 d-none d-sm-inline">O'qituvchilar</span></a
                >
              </li>
              {% endif %}
              <li>
                <a
                  href="{% url 'main:register_student' %}"
                  class="nav-link px-0 align-middle"
                >
                  <i class="fs-4 bi-table"></i>
                  <span class="ms-1 d-none d-sm-inline"
                    >Ro'yxatga olish</span
                  ></a
                >
              </li>
            </ul>
            <hr />
            <div class="dropdown pb-4">
              <a
                href="#"
                class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                id="dropdownUser1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <span class="d-none d-sm-inline mx-1"
                  >{{ request.user.username }}</span
                >
              </a>
              <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li>
                  <a class="dropdown-item" href="{% url 'accounts:logout' %}"
                    >Sign out</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col py-3">{% block content %} {% endblock content %}</div>
      </div>
    </div>
  </body>
  {% block script %} {% endblock script %}
</html>
