{% extends "./base.html" %} {% block title %} NANO - Guruh 1 {% endblock title%} {% block content %}
<div class="container">
  <h1 class="text-{% if attendance_class_exists %}success{%else%}danger{%endif%}">{{ assign.class_id.name }}</h1>
  <span class="text-muted">{{ current_date|date:"F j, Y" }}</span>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">F.I.Sh</th>
        <th scope="col">O'qituvchi</th>
        <th scope="col">NanoCoin</th>
        <th scope="col">Telefon raqami</th>
        <th scope="col">Keldi</th>
      </tr>
    </thead>
    <tbody>
      {% if not attendance_class_exists %}
      {% for student in students %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td><a href="#" class="link-dark">{{ student.full_name }}</a></td>
        <td><a href="{% url 'main:teacher' assign.teacher.id %}">{{ assign.teacher.full_name }}</a></td>
        <td>{{ student.coins }}</td>
        <td>
          {% for phone_number in student.phone_numbers|split:"," %}
              <a href="tel:{{ phone_number|strip }}">{{ phone_number }}</a><br>
          {% endfor %}
      </td>
        <td>
          <div class="checkbox-wrapper-44">
            <label class="toggleButton">
              <input type="checkbox" name="{{student.id}}"  {% if out_of_period %}disabled{%endif%}>
              <div>
                <svg viewBox="0 0 44 44">
                  <path transform="translate(-2.000000, -2.000000)" d="M14,24 L21,31 L39.7428882,11.5937758 C35.2809627,6.53125861 30.0333333,4 24,4 C12.95,4 4,12.95 4,24 C4,35.05 12.95,44 24,44 C35.05,44 44,35.05 44,24 C44,19.3 42.5809627,15.1645919 39.7428882,11.5937758"></path>
                </svg>
              </div>
            </label>
          </div>
        </td>
      </tr>
      {% endfor %}
      {% else %}
      {% for attendance in attendances %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td><a href="#" class="link-dark">{{ attendance.student.full_name }}</a></td>
        <td><a href="{% url 'main:teacher' assign.teacher.id %}">{{ assign.teacher.full_name }}</a></td>
        <td>{{ attendance.student.coins }}</td>
        <td>
          {% for phone_number in attendance.student.phone_numbers|split:"," %}
              <a href="tel:{{ phone_number|strip }}">{{ phone_number }}</a><br>
          {% endfor %}
      </td>
        <td>
          <div class="checkbox-wrapper-44">
            <label class="toggleButton">
              <input type="checkbox" name="{{attendance.student.id}}" {% if attendance.is_present %}checked{% endif %} {% if out_of_period %}disabled{%endif%}>
              <div>
                <svg viewBox="0 0 44 44">
                  <path transform="translate(-2.000000, -2.000000)" d="M14,24 L21,31 L39.7428882,11.5937758 C35.2809627,6.53125861 30.0333333,4 24,4 C12.95,4 4,12.95 4,24 C4,35.05 12.95,44 24,44 C35.05,44 44,35.05 44,24 C44,19.3 42.5809627,15.1645919 39.7428882,11.5937758"></path>
                </svg>
              </div>
            </label>
          </div>
        </td>
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
  {% if out_of_period %}
  <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#periodEndModal">
    {% if attendance_class_exists %}Saqlash{% else %} Davomatni yakunlash {% endif %}
  </button>
  {% else %}
  <button class="btn btn-outline-success" onclick="finishAttendance()">{% if attendance_class_exists %}Saqlash{% else %} Davomatni yakunlash {% endif %}</button>
{% endif %}
</div>

<!-- Modal -->
<div class="modal fade" id="periodEndModal" tabindex="-1" aria-labelledby="periodEndModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="periodEndModalLabel">Can not take attendance</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <strong>Sorry, you cannot stake attendance for this group at the moment.</strong>
    <br>
    <strong>Group Schedule:</strong>
    <ul>
        <li>Start Time: <span class="text-primary">{{assign.period|split:" - "|first }}</span></li>
        <li>End Time: <span class="text-primary">{{assign.period|split:" - "|last }}</span></li>
    </ul>
    <strong>Current Time: <span class="text-primary">{{current_date|date:"H:i A"}}</span></strong>
    <br>
    Please take attendance during the group's scheduled period.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}

  <script>
    const url = `{% url 'main:attendance' assign.id %}`
    const finishAttendance = () => {
      const data = {}
      document.querySelectorAll(".checkbox-wrapper-44 input[type=\"checkbox\"]").forEach(checkbox => {
        data[checkbox.name] = checkbox.checked;
      })
      fetch(url, {
        method: 'post',
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": `{{ csrf_token }}`
        },
        body: JSON.stringify(data)
      }).then(res => res.json()).then(result => {
        location.reload() 
      }).catch(err => {
        console.log(err)
      })
    }

  </script>

{% endblock script %}