{% extends "./base.html" %} {% block title %} NANO - O'qituvchilar {% endblock title %} {% block content %}
<div class="container py-3" style="height: 100vh; overflow: auto">
  <div class="row align-items-center">
    {% if messages %} {% for message in messages %}
    <div
      class="alert alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{%elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS%}success{% endif %} alert-dismissible fade show"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %} 
    {% for teacher in teachers %}
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="card border-success mb-3" style="max-width: 18rem">
        <div class="card-header bg-transparent border-success">
          {{teacher.get_working_days_display }}, {{teacher.working_time}}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ teacher.full_name}}</h5>
          {% if teacher.assign_set.all|length %}
          <p class="card-text">
           <b>Guruhlari: </b>
            <span>
              {% for assign in teacher.assign_set.all %}
              <a href="{% url 'courses:group' assign.id %}" class="badge text-bg-primary"
                >{{ assign.class_id }}</a
              >
              {% endfor %}
            </span>
          </p>
          {% else %}
            <p class="text-muted mb-0">Guruhlari yo'q</p>
            {% endif %}
        </div>
        <div class="card-footer bg-transparent border-success d-flex gap-2 flex-wrap">
          <a
            href="{% url 'courses:teacher' teacher.id %}"
            class="btn btn-outline-primary"
            >Batafsil
          </a>
          <form action="{% url 'courses:delete_teacher' teacher.id %}" method="post"> {% csrf_token %} <button class="btn btn-danger" type="submit">Delete</button> </form>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="col-lg-3 col-md-4 col-sm-6">
      <button
        type="button"
        class="btn btn-outline-secondary"
        data-bs-toggle="modal"
        data-bs-target="#addTeacherModal"
      >
        <div
          class="d-flex justify-content-center align-items-center flex-column"
        >
          <span class="plus-icon" style="font-size: 50px">+</span>
          O'qituvchi qo'shish
        </div>
      </button>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="addTeacherModal"
  tabindex="-1"
  aria-labelledby="addTeacherModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addTeacherModalLabel">
          O'qituvchi qo'shish
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form action="{% url 'courses:teachers' %}" method="post">
      <div class="modal-body">
        {% csrf_token %} {{ form }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Bekor qilish
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          >
          Yaratish
        </button>
      </div>
    </form>
    </div>
  </div>
</div>
{% endblock content %} {% block script %}
<script>
  document.addEventListener("DOMContentLoaded", () => {
    new Choices("#id_courses");
    new Choices("#id_working_days");
  });
</script>
{% endblock %}
